<!doctype html>
{%load static %}
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Free download Transparent login form using html and css</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="Transparent login form using html and css" />
<meta name="keywords" content="Transparent login form, login form, HTML, CSS, Background Blur, login form using html and css, Avatar Icon, Login with Facebook and Google" />
<meta name="author" content="HTMLCSS3TUTORIALS" />
<link rel="stylesheet" type="text/css" href="{%static 'css/loginstyle.css'%}" />
</head>
<body>
<div class="blur"></div>
	<div class="formContent blur"> <img src="{%static 'images/avtar.jpg'%}" class="avatarImg">
	<h2>Login Form</h2>
	<form>
	<label>Email</label>
	<input type="email" name="email" placeholder="Enter Email" required>
	<label>Password</label>
	<input type="password" name="password" placeholder="Enter Password" required>
	<input type="submit" name="submit" value="Login">
	<div class="remember">
<div class="login"><div class="Oroption">OR</div></div>
<div>Login with Facebook and Google</div>
<div class="links">
	<div class="facebook"><img src="{%static 'images/facebook.png'%}" alt="Facebook Icon" /> </div>
	<div class="google"> <img src="{%static 'images/google.png'%}" alt="Google Icon" /> </div>
</div>
<div class="signup"> Don't have account? <a href="#">Signup Now</a> </div>
</div>
</form>
</div>
</body>
</html>